* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
  }
  
  .intro {
    height: 100vh;
  }
  
  .intro video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .intro h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: red;
  }
  
  /*
    Portfolio + Ch info/history + Work Cited Section
  */

  .Portfolio {
    height: 100vh;
  }

  .portfolioBKG{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .portfolioLink {
    position: relative;
    top: -83%;
    right: -24.1%;
    height: 36.25%;
    width: 36.25%;
    transition: 0.2s;
  }

  .portfolioLink:hover{
    transform: scale(1.02);
  }

  .workcitedLink {
    position: relative;
    top: -75%;
    right: 0%;
    height: 7.50%;
    width: 5.00%;
    transition: 0.2s;
  }

  .workcitedLink:hover{
    transform: scale(1.05);
  }

  .characterInfoLink {
    position: relative;
    top: -36.75%;
    right: 0%;
    transition: 0.2s;
  }

  .characterInfoLink:hover{
    transform: scale(1.02);
  }

  /*
    Animation History + Video Link Section
  */

  .Page2 {
    height: 100vh;
  }

  .Page2BKG{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .animationHistoryLink{
    position: relative;
    top: -19.5%;
    right: -32%;
    transition: 0.2s;
  }

  .animationHistoryLink:hover{
    transform: scale(1.1);
  }

  .animationexampleLink{
    position: relative;
    top: -67.5%;
    right: -10%;
    transition:o.2s;
  }

  .animationexampleLink:hover{
    transform: scale(1.05);
  }

  .artistBioLink{
    position: relative;
    top: -63%;
    right: 6.5%;
    transition: 0.2s;
  }

  .artistBioLink:hover{
    transform: scale(1.05);
  }

  section {
    height: 100vh;
    color: black;
  }
  
  section h1 {
    padding-top: 300px;
    text-align: center;
    font-size: 80px;
  }
  
  .video2 {
    height: 100vh;
  }
  
  .video2 video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .video2 h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: orange;
  }

  .video3 {
    height: 100vh;
  }
  
  .video3 video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }