* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
  }
  
  .intro {
    height: 100vh;
  }
  
  .intro video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .intro h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: red;
  }
  
  /*
    Portfolio + Ch info/history + Work Cited Section
  */

  .Portfolio {
    height: 100vh;
  }

  .portfolioBKG{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .portfolioLink {
    position: relative;
    top: -83%;
    right: -24.2%;
    height: 36.25%;
    width: 36.25%;
  }

  .workcitedLink {
    position: relative;
    top: -75%;
    right: 0%;
    height: 7.50%;
    width: 5.00%;
  }

  .characterInfoLink {
    position: relative;
    top: -36.75%;
    right: 0%;
  }

  /*
    Animation History + Video Link Section
  */

  .Page2 {
    height: 100vh;
  }

  .Page2BKG{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .animationHistoryLink{
    position: relative;
    top: -17%;
    right: -32%;
  }

  .animationexampleLink{
    position: relative;
    top: -65%;
    right: -10%;
  }



  section {
    height: 100vh;
    color: black;
  }
  
  section h1 {
    padding-top: 300px;
    text-align: center;
    font-size: 80px;
  }
  
  .video2 {
    height: 100vh;
  }
  
  .video2 video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .video2 h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: orange;
  }