body
{
    background-image: url(../assets/Backgrounds/SidePages/Animation\ History/AnimationHistory.png);
    background-size:contain;
    background-position:top;
    background-repeat: no-repeat;
    height: 200vh;
    background-color: rgb(172, 179, 184);
}

.BackButton
{
    position: fixed;
    bottom: 0;
    right: 0;
}