* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F9F5E3;
  }
  
    body {
        font-family: sans-serif;
    } 
  
    .ArtistBio{
        height: 100vh;
    }

    .artistBioPageBKG{
        height: 100%;
        width: 100%;
        object-fit: fill;
    }

    .infoTag{
        position: relative;
        width: 245px;
        top: -95%;
        right: -62.75%;
    }

    .info{
        position:relative;
        top: -92%;
        background-color: #e6e6e6;
        padding: 20px;
        margin-left:48%;
        margin-right:5%;
    }

    .contactTag{
        position: relative;
        width: 245px;
        top: -90%;
        right: -62.75%;
    }

    .contact{
        position:relative;
        top: -88%;
        background-color: #e6e6e6;
        text-align: center;
        padding: 20px;
        margin-left:48%;
        margin-right:5%;
    }

    .BackButton
    {
        position: fixed;
        bottom: 0;
        right: 0;
    }