body
{
    background-image: url(../assets/Backgrounds/SidePages/AnimatedTimeline.png);
    background-size:contain;
    background-position:top;
    background-repeat: no-repeat;
    height: 200vh;
}

.BackButton
{
    position: fixed;
    bottom: 0;
    right: 0;
}